body {
    background-color: black;
    color: yellow;
}

.style {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

#clock {
    font-size: 40px;
    background-color: orange;
    padding: 30px 80px;
    margin-top: 10px;
    border-radius: 10px;
    color: black;
}
