body {
    background-color: black;
    color: white;
}

.box {
    margin: auto;
    display: flex;
    width: 100px;
    height: 100px;
   justify-content: center;
   align-items: center;
   border: red;
   
}