body {
    background-color: black;
    color: aqua;
}

.head {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    font-size: 2rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

input {
    font-size: 2rem;
}

.btn {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    background-color: yellow;
}

label {
    margin-right: 5px;
}