body {
    background-color: black;
    color: white;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2rem solid red; */
}

.hd {
    height: auto;
    width: auto;
    background-color: blue;
    color: white;
    padding: 10px 100px;
    font-size: 50px;
    font-family: cursive;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.bg {
    justify-content: center;
    align-items: center;
    display: flex;
    /* border: 1rem solid yellowgreen; */
    border-radius: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
}

.title {
    font-size: 60px;
    text-align: center;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

#btn {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
}

#btn:hover {
    background-color: yellowgreen;
}

#prev {
    margin-top: 25px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#remain {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

#prevNum, #remainGuess {
    display: inline-block;
    width: auto;
    height: auto;
    background-color: orange;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
}

#white {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    border: 2px solid black;
}

#black {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    background-color: black;
    border: 2px solid white;
}

#red {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    background-color: red;
    border: 2px solid white;
    color: white;
}

#yellow {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    background-color: yellow;
    border: 2px solid white;
    color: white;
}

